<a href="https://colab.research.google.com/github/Sravya2134/2216178_AIML_Bootcamp_2023/blob/main/AI%26ML_Bootcamp_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#operators
#arithemetic opetators
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [2]:
a=13
b=14
print(a &b)
print(a|b)
print(a^b)
print(a>>2)
print(b<<2)

12
15
3
3
56

In [9]:
#membership operators
string="welcome to bootcamp"
print("to"in string)
print("in"in string)
print("is"in string)

True
False
False

In [11]:
#identity operators
a1=int(input("enter the number"))
b1=int(input("enter the number"))
a2=int(input("enter the number"))
b2=int(input("enter the number"))
print(a1 is a2)
print(b1 is b2)
print(a1 is not a2)
print(b1 is not b2)

enter the number34
enter the number56
enter the number78
enter the number89
False
False
True
True

In [3]:
#comparsion operators
a=int(input("enter the number"))
b=int(input("enter the number"))
print("c=",a>b)
print("c=",a!=b)

enter the number2
enter the number6
c= False
c= True

In [6]:

#slicing
print(str[0:7:2])
#string modules
string="  going to trip  "
print(string.upper())
print(string.lower())
print(string.swapcase())
print(string.lstrip())

gase
  GOING TO TRIP
  going to trip
  GOING TO TRIP
going to trip

In [7]:
#string formats
name="shiva"
language="pyhton"
year =2023
print(name,"is teaching",language,"programming in",year)

shiva is teaching pyhton programming in 2023

In [8]:
#lists
my_list=[1,2,3,4]
my_list1=[1,"hello","3.0"]
my_list2=["apple","banana","cherry"]
#indexing
print(my_list[2])
print(my_list[-1])
#slicing
print(my_list[:3])
#nested
N_list=["dragonfruit",my_list,my_list[1]]
print(N_list[0][0:6])

3
4
[1, 2, 3]
dragon