<a href="https://colab.research.google.com/github/Sravya2134/2216178_AIML_Bootcamp_2023/blob/main/Boot_Camp_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Methods of string fwith examples 
txt="welcome to python programming"
print("txt=",txt)
print("some part print=",txt[3:9])
print("welcome"in txt)
print("the length=",len(txt))
string="example of slice function in python language"
string1="welcome to python programming"
s1=slice(3)
print("s1=",string[s1])
s2=slice(1,5)
print("s2=",string[s2])
print("string variables in upper case=",string.upper())
print("string variables in upper case=",string.lower())
print("string1=",string1.strip())
print("replace function used in string1=",string1.replace("programming","language"))

txt= welcome to python programming
some part print= come t
True
the length= 29
s1= exa
s2= xamp
string variables in upper case= EXAMPLE OF SLICE FUNCTION IN PYTHON LANGUAGE
string variables in upper case= example of slice function in python language
string1= welcome to python programming
replace function used in string1= welcome to python language

In [ ]:
# lists
l1=[1,2,3,4,5]
l2=["ramu","ravi"]
print("the length of l1=",len(l1))
print("the length of l2=",len(l2))
l3=[8,9,10]
print("the contanation=",l1+l3)
print("the repetition=",l2*2)
l4=['a','e','i','o','u']
print("the checking of a in l4=",'l'in l4)
print("the checking of a in l4=",'k'not in l4)
l1.append(0)
print("now l1=",l1)
print("all function for l1=",all(l1))
print("all function for l2=",all(l2))
l6=[34,56]
print("any function=",any(l6))
print("max value=",max(l6))
print("min value=",min(l6))
print("sum value=",sum(l6))

the length of l1= 5
the length of l2= 2
the contanation= [1, 2, 3, 4, 5, 8, 9, 10]
the repetition= ['ramu', 'ravi', 'ramu', 'ravi']
the checking of a in l4= False
the checking of a in l4= True
now l1= [1, 2, 3, 4, 5, 0]
all function for l1= False
all function for l2= True
any function= True
max value= 56
min value= 34
sum value= 90

In [ ]:
#tupless
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print("the length of t1=",len(t1))
print("the length of t2=",len(t2))
t3=t1+t2
print("the concant of t1 and t2=",t3)
print("the repitition=",t2*2)
print("checking element 8 in t2=",8 in t2)
print("all the operations in tuple=",all(t1))
print("min element=",min(t1))
print("max element=",max(t1))

the length of t1= 5
the length of t2= 5
the concant of t1 and t2= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
the repitition= (6, 7, 8, 9, 10, 6, 7, 8, 9, 10)
checking element 8 in t2= True
all the operations in tuple= True
min element= 1
max element= 5

In [ ]:
#dictionaries
dict1=dict()
print("the dict=",dict1)
dt2={'htno':123,'name':'raju','course':'cse'}
print("the dict2=",dt2)
dt3 = {"school": "rishi", "college": "SR","year": 2023}
print(dt3["school"])
#add
dt4 = {"school": "rishi", "college": "SR","year": 2023}
dt4.update({"area": "warangal"})
print(dt4)

the dict= {}
the dict2= {'htno': 123, 'name': 'raju', 'course': 'cse'}
rishi
{'school': 'rishi', 'college': 'SR', 'year': 2023, 'area': 'warangal'}

In [ ]:
#setss
s1={1,2,3,4,5,6,7}
s2={5,6,7,8,9,5,6,7}
print("s1=",s1)
print("s2=",s2)
s1.update(s2)
print("the set1(update)=",s1)
s2.add(11)
print("the set 2=",s2)
s2.remove(11)
print("the set 2=",s2)
s2.discard(8)
print("the set 2=",s2)
len(s1)
print("the length s1=",s1)
print("the intersection=",s1.intersection(s2))
print("the difference=",s1.difference(s2))

s1= {1, 2, 3, 4, 5, 6, 7}
s2= {5, 6, 7, 8, 9}
the set1(update)= {1, 2, 3, 4, 5, 6, 7, 8, 9}
the set 2= {5, 6, 7, 8, 9, 11}
the set 2= {5, 6, 7, 8, 9}
the set 2= {5, 6, 7, 9}
the length s1= {1, 2, 3, 4, 5, 6, 7, 8, 9}
the intersection= {9, 5, 6, 7}
the difference= {1, 2, 3, 4, 8}

In [ ]:
#arithemetic operations
x,y=15,10
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x+y=",x+y)
print("x%y=",x%y)
print("x**y=",x**y)

x+y= 25
x-y= 5
x*y= 150
x/y= 1.5
x+y= 25
x%y= 5
x**y= 576650390625

In [ ]:
#assign operators
a=int(input("enter the number"))
b=int(input("enter the number"))
# a = a + b
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /= b
print(a)

enter the number4
enter the number6
10
4
24
4.0

In [ ]:
#comparsion operators
a=int(input("enter the number"))
b=int(input("enter the number"))
print("c=",a>b)
print("c=",a!=b)

enter the number6
enter the number8
c= False
c= True

In [ ]:
#logical operators
a=1
b=0
print("a and b is=",a and b)
print("a or b is=",a or b)
print("not a", not a )

a and b is= 0
a or b is= 1
not a False

In [ ]:

# bitwise operators
a = 10
b = 4
# AND operation
print("a & b =", a & b)
 
# OR operation
print("a | b =", a | b)
 
#bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [ ]:
#membership operators
string="welcome to bootcamp"
print("to"in string)
print("in"in string)
print("is"in string)

True
False
False

In [ ]:
#identity operators
a1=int(input("enter the number"))
b1=int(input("enter the number"))
a2=int(input("enter the number"))
b2=int(input("enter the number"))
print(a1 is a2)
print(b1 is b2)
print(a1 is not a2)
print(b1 is not b2)

enter the number5
enter the number8
enter the number9
enter the number8
False
True
True
False

In [ ]:
# slicing with the negative index
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 
print("\nOriginal List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[3:9:2])
 
# Display sliced list
print(List[::2])
 
# Display sliced list
print(List[::])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print('a series of characters desginated as one object known as a string'[::-1][4::3])
print('a series of characters desginated as one object known as a string'[3::10][::-1])

taawkcbe  tiestrcoeea
n j dhe

In [ ]:
print("------------")
print('welcome to pythin traning program'[3:10][::-1])

------------
ot emoc

In [ ]:
string='was it a car or a cat i saw'[::-1]
print(string)
print(string.upper())

was i tac a ro rac a ti saw
WAS I TAC A RO RAC A TI SAW

In [ ]:
X=int(input())
Y=2*X
print('Z'*X+'O'*Y)

2
ZZOOOO